# EditorConfig is awesome: http://editorconfig.org
# Used some of the config from https://github.com/ppy/osu >.< luv u ppy
root = true

[*]
# Core settings
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
# Styling
insert_final_newline = true

# File Header
file_header_template = Copyright (c) Ame (Akeoot/Akeoott) <akeoot@pm.me>. Licensed under the LGPL-3.0 Licence.\nSee the LICENSE file in the repository root for full license text.

# using
dotnet_separate_import_directive_groups = true
dotnet_sort_system_directives_first = true

# Code Block
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_preserve_single_line_blocks = true

[*.{csproj,props,targets,json,jsonc,xml,axaml,slnx}]
indent_size = 2

[*.{yaml,yml}]
insert_final_newline = true
indent_size = 2
